{% extends 'base.html.twig' %}

{% block title %}Edit Stats{% endblock %}

{% block body %}
    <h1>Edit Stats</h1>

    {{ include('admin/stats/_form.html.twig', {'button_label': 'Actualiser'}) }}

    <a href="{{ path('app_admin_stats_index') }}">Retour vers la liste</a>

    {{ include('admin/stats/_delete_form.html.twig') }}
{% endblock %}
