{% extends 'base.html.twig' %}

{% block title %}New Stats{% endblock %}

{% block body %}
    <h1>Créer Stats</h1>

    {{ include('admin/stats/_form.html.twig') }}

    <a href="{{ path('app_admin_stats_index') }}">Retour vers la liste</a>
{% endblock %}
