{% extends 'base.html.twig' %}

{% block title %}New Condition{% endblock %}

{% block body %}
    <h1>Créer Condition</h1>

    {{ include('admin/condition/_form.html.twig') }}

    <a href="{{ path('app_condition_index') }}">Retour vers la liste</a>
{% endblock %}
