{% extends 'base.html.twig' %}

{% block title %}New MetierVise{% endblock %}

{% block body %}
    <h1>Créer MetierVise</h1>

    {{ include('admin/metier_vise/_form.html.twig') }}

    <a href="{{ path('app_admin_metier_vise_index') }}">Retour vers la liste</a>
{% endblock %}
