{% extends 'base.html.twig' %}

{% block title %}New FraisScolarite{% endblock %}

{% block body %}
    <h1>Create new FraisScolarite</h1>

    {{ include('frais_scolarite/_form.html.twig') }}

    <a href="{{ path('app_frais_scolarite_index') }}">back to list</a>
{% endblock %}
