<form method="post" action="{{ path('app_condition_delete', {'id': condition.id}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer cette element ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ condition.id) }}">
    <button class="btn">Supprimer</button>
</form>
