<form method="post" action="{{ path('app_metier_vise_delete', {'id': metier_vise.id}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer cette element ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ metier_vise.id) }}">
    <button class="btn">Supprimer</button>
</form>
