{% extends 'base.html.twig' %}

{% block title %}Edit MetierVise{% endblock %}

{% block body %}
    <h1>Edit MetierVise</h1>

    {{ include('metier_vise/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_metier_vise_index') }}">back to list</a>

    {{ include('metier_vise/_delete_form.html.twig') }}
{% endblock %}
