{% extends 'base.html.twig' %}

{% block title %}New MetierVise{% endblock %}

{% block body %}
    <h1>Create new MetierVise</h1>

    {{ include('metier_vise/_form.html.twig') }}

    <a href="{{ path('app_metier_vise_index') }}">back to list</a>
{% endblock %}
