{% extends 'base.html.twig' %}

{% block title %}New TypeFormation{% endblock %}

{% block body %}
    <h1>Créer TypeFormation</h1>

    {{ include('admin/type_formation/_form.html.twig') }}

    <a href="{{ path('app_admin_type_formation_index') }}">Retour vers la liste</a>
{% endblock %}
