{% extends 'base.html.twig' %}

{% block title %}New Lieu{% endblock %}

{% block body %}
    <h1>Créer Lieu</h1>

    {{ include('admin/lieu/_form.html.twig') }}

    <a href="{{ path('app_lieu_index') }}">Retour vers la liste</a>
{% endblock %}
