@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Libre Baskerville';
    src: url('/public/fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } 

  @font-face {
    font-family:'Open Sauce Light';
    src: url('/public/fonts/OpenSauceOne-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } 

body {
    font-family: ' Libre Baskerville','Open Sauce Light', sans-serif;
    background-color: white;
  }
  @media screen and (max-width: 1920px) {
.bandeau_acceuil{
    position: relative;
    width: 100%;
    height: calc(70vh - 80px);
    border-top: 1px gray solid;
    /* background-color: gray; */
    background-image:url('../images/uimm_centre.jpg'); 
    background-repeat: no-repeat;
}
*{
    margin:0;
    padding:0;
}
.titre_et_btn{
    width: 50%;
    height: calc(100vh - 80px);
    /* border: red solid 1px; */
    padding: 20px;
}

.logo_centre{
    width: 40%;
    height: calc(100vh - 80px);
    /* border: green solid 1px; */
}
.logo_uimm img{
    position: inherit;
    max-width: max-content;
    width: 100%;
}

.footer_ensemble {
    width: 100%;
    height: 300px;
    background-color: #112c50;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}
.titre_footer{
    width: 17%;
    height:200px;
    padding-left: 70px;
    padding-top: 23px;
    font-family:'Open Sauce Light';
    cursor:pointer;
    /* border:solid 1px white; */
    
}

#titre_footer2 {
    width: 17%;
    height: 200px;
    padding-top: 24px;
    padding-left: -18px;
    font-family: 'Open Sauce Light';
    /* border: solid 1px violet; */
    color: white;
    margin-top: 0px;
    cursor:pointer;
    /* margin-left: 0px; */
}

.slider_container{
    width: 100%;
    height:650px;
    /* border:solid 1px yellowgreen; */
}

.partenaire {
    width: 100%;
    height: auto;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 63px;
}
.footer_fin{
    width: 100%;
    height: 80px;
    background-color: black;
}
.statistique_container {
    width: 100%;
    height: 270px;
    /* border: solid 1px blue; */
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.slid_r{
    width: 100%;
    height:700px;
    /* border:solid 1px red; */
 }
 .stat {
    width: 15%;
    height: 228px;
    border: solid 1px red;
}


}
	/* Styles pour écran de 480 à 720px */
@media screen and (max-width: 980px) {
        .bandeau_acceuil{
            position: relative;
            width: 100%;
            height: calc(40vh - 80px);
            border-top: 1px gray solid;
            /* background-color: gray; */
            background-image:url('../images/uimm_centre.jpg'); 
            background-repeat: no-repeat;
        }
    
        .titre_et_btn {
            width: 50%; 
            height: calc(69vh - 80px);
            text-align: left; 
         }  
      
        .logo_uimm {
            width: 40%; 
            height: auto;
         
        } 
       
        .description_uimm {
            font-size: 1.32rem; 
        } 

        .titre_footer{
            width:40%;
            height:auto;
            padding-top: 23px;
            font-family:'Open Sauce Light';
            cursor:pointer;
            color:white;
            /* padding:71px; */
            /* border:solid 1px white; */
        
        }

        #titre_footer2 {
            width: 20%;
            height: auto;
            padding-top: 24px;
            font-family: 'Open Sauce Light';
            /* border: solid 1px violet; */
            /* margin-top: -214px;
            margin-left: 149px; */
            cursor:pointer;
        }  
        .footer_ensemble {
            width: 100%;
            height: 300px;
            background-color: #112c50;
            background-position: center;
            display: flex;
            /* padding-left: 178px; */
            justify-content: center;
            flex-direction: row;
            align-content: center;
            padding:71px;
        }
        .slider_container {
            width: 100%;
            height: 42vh;
            /* border: solid 1px yellowgreen; */
        }
        .logo_uimm img {
            position: inherit;
            max-width: -moz-max-content;
            max-width: max-content;
            width: 40%;
         } 
         .slid_r{
            width: 100%;
            height:730px;
            /* border:solid 1px red; */
         }
         .stat {
            width: 20%;
            height: 228px;
            /* border: solid 1px red; */
        }
        .statistique_container {
            width: 100%;
            height: 270px;
            /* border: solid 1px blue; */
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }
       
    }
    @media screen and (max-width: 350px) {
        .bandeau_acceuil {
            height: calc(38vh - 80px);
        }
      
        .titre_et_btn {
            width: 50%; 
            height: calc(69vh - 80px);
            text-align: left; 
         }  
      
        .logo_uimm {
            width: 40%; 
            height: auto; 
        } 
       
        .description_uimm {
            font-size: 1.6rem; 
        } 

        .titre_footer{
            width: 20%;
            height:auto;
            padding-top: 23px;
            font-family:'Open Sauce Light';
            border:solid 1px white;
            
        }

        .titre_footer2 {
            width: 20%;
            height: auto;
            padding-top: 24px;
            font-family: 'Open Sauce Light';
            /* border: solid 1px violet; */
            margin-top: -214px;
            margin-left: 149px;
        }  
        .footer_ensemble {
            width: 100%;
            height: 300px;
            background-color: #112c50;
            background-position: center;
            display: flex;
            /* padding-left: 178px; */
            justify-content: center;
            flex-direction: row;
            align-content: center;
        }
        .slider_container {
            width: 100%;
            height: 42vh;
            /* border: solid 1px yellowgreen; */
        }
        .logo_uimm img {
            position: inherit;
            max-width: -moz-max-content;
            max-width: max-content;
            width: 80%;
        } 
       
        .titre_formation{
            width: 100%;
            height: 100px;
            margin-top:50px;
            /* border:solid 1px green; */
        }

        .stat{
            width: 20%;
            height: 100px;
            border:solid 1px red;
        }
        .statistique_container {
            width: 100%;
            height: 270px;
            /* border: solid 1px blue; */
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }
       
    }

.turbo-progress-bar{
    height: 2px;
    background-color: blue;
}

.bordure_ombre{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

html{
    scroll-behavior: smooth;
}

.pdf{
    border-radius: 5px;    
    padding: 5px 15px 5px 15px;
}

@keyframes glisser {
    from { margin-top: 50px; opacity: 0;}
    50% { margin-top: 0px; opacity: 0.5;}
    75% { margin-top: 10px; opacity: 1;}
    to   { transform: 0px; opacity: 1;}
  }

.animation{
    animation-name: glisser;
    
}


.test{
    margin-left: -90%;
}

.hauteur_detail_formation{
    /* height: calc(100vh - 150px); */
    height: calc(100vh - 114px );
}

.premier_div_detail_formation{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ombre_photo{
    -webkit-box-shadow: 15px 15px 0px 5px #112c50, 27px 12px 10px 4px rgba(0,0,0,0); 
    box-shadow: 15px 15px 0px 5px #112c50, 27px 12px 10px 4px rgba(0,0,0,0);
}

.div123{
    width: 30%;
    display: flex;
    align-items: center;
}

.taille_image{
    width: 300px;
    height: 350px;
    overflow: hidden;
    -webkit-box-shadow: 15px 15px 0px 5px #112c50, 27px 12px 10px 4px rgba(0,0,0,0); 
    box-shadow: 15px 15px 0px 5px #112c50, 27px 12px 10px 4px rgba(0,0,0,0);
}

.taille_image img{
    width: 100%;
    height: auto;
}
