@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
  }

.bandeau_acceuil{
    width: 100%;
    height: calc(70vh - 80px);
    border-top: 1px gray solid;
    background-color: gray;
    padding: 20px;
}

.titre_et_btn{
    width: 50%;
    height: calc(100vh - 80px);
    /* border: red solid 1px; */
    padding: 20px;
}

.logo_centre{
    width: 40%;
    height: calc(100vh - 80px);
    border: green solid 1px;
}

@layer components {
    .btn-primary {
@apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
  }


