{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
{% include('partials/_navbar.html.twig') %}
<div class="flex justify-center">
	<div class="border-tahiti-100 border-2 w-50% h-36">
		<h1 class="flex justify-center">Nous contacter</h1>
	</div>
</div>
{% include('partials/_footer.html.twig') %}
{% endblock %}
