{% extends 'base.html.twig' %}

{% block title %}New Domaine{% endblock %}

{% block body %}
    <h1>Créer Domaine</h1>

    {{ include('admin/domaine/_form.html.twig') }}

    <a href="{{ path('app_admin_domaine_index') }}">Retour vers la liste</a>
{% endblock %}
