{% extends 'base.html.twig' %}

{% block title %}Edit CodeFormation{% endblock %}

{% block body %}
    <h1>Edit CodeFormation</h1>

    {{ include('code_formation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_code_formation_index') }}">back to list</a>

    {{ include('code_formation/_delete_form.html.twig') }}
{% endblock %}
