{% extends 'base.html.twig' %}

{% block title %}New CodeFormation{% endblock %}

{% block body %}
    <h1>Créer CodeFormation</h1>

    {{ include('code_formation/_form.html.twig') }}

    <a href="{{ path('app_code_formation_index') }}">Retour vers la liste</a>
{% endblock %}
