<form method="post" action="{{ path('app_frais_scolarite_delete', {'id': frais_scolarite.id}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer cette element ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ frais_scolarite.id) }}">
    <button class="btn">Supprimer</button>
</form>
