{% extends 'base.html.twig' %}

{% block title %}Edit FraisScolarite{% endblock %}

{% block body %}
    <h1>Edit FraisScolarite</h1>

    {{ include('admin/frais_scolarite/_form.html.twig', {'button_label': 'Actualiser'}) }}

    <a href="{{ path('app_admin_frais_scolarite_index') }}">Retour vers la liste</a>

    {{ include('admin/frais_scolarite/_delete_form.html.twig') }}
{% endblock %}
