{% extends 'base.html.twig' %}

{% block title %}Hello SliderController!{% endblock %}

{% block body %}
<div id="carouselExampleCaptions" class="relative" data-te-carousel-init >
    <div class="absolute right-0 bottom-0 left-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0" data-te-carousel-indicators>
        {% for key, domaine in domaines %}
            <button type="button" data-te-target="#carouselExampleCaptions" data-te-slide-to="{{ key }}" {% if loop.first %}data-te-carousel-active data-te-carousel-pause aria-current="true"{% endif %} class="mx-[3px] box-content h-[3px] w-[30px] my-1.5 flex-initial cursor-pointer  bg-white bg-clip-padding p-0.5 -indent-[999px] opacity-50 transition-opacity duration-[800ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none" aria-label="Slide {{ key+1 }}"></button>
        {% endfor %}
    </div>
    <div class="relative overflow-hidden after:clear-both after:block after:content-['']">
        {% for key, domaine in domaines %}
            <div class="relative float-left {% if key == 0 %}-mr-[100%]{% else %}hidden{% endif %} h-128 w-full transition-transform duration-[650ms] ease-in-out motion-reduce:transition-none" data-te-carousel-item{% if loop.first %} data-te-carousel-active{% endif %} style="backface-visibility: hidden">
                <img src="{{ asset(domaine.image) }}" class="h-128 w-full" alt="...">
                <div class="my-1.5 absolute inset-x-[15%] bottom-5 hidden py-5 text-center text-white  md:block">
                    <h5 class="text-5xl my-1.5">{{ domaine.titre }}</h5>
                    <button type="button" class="text-white inline-block rounded bg-tahiti-500 px-6 pt-2.5 pb-2 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out hover:bg-tahiti-500-600 hover:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:bg-tahiti-500-600 focus:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)] focus:outline-none focus:ring-0 active:bg-tahiti-500-700 active:shadow-[0_8px_9px_-4px_rgba(84,180,211,0.3),0_4px_18px_0_rgba(84,180,211,0.2)]">
                        Info
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


