<form method="post" action="{{ path('app_niveau_delete', {'id': niveau.id}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer cette element ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ niveau.id) }}">
    <button class="btn">Supprimer</button>
</form>
