{% extends 'base.html.twig' %}

{% block title %}New Niveau{% endblock %}

{% block body %}
    <h1>Créer Niveau</h1>

    {{ include('admin/niveau/_form.html.twig') }}

    <a href="{{ path('app_niveau_index') }}">Retour vers la liste</a>
{% endblock %}
